<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaote.wuliu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_gaote"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_gaote"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.client.mine.MsgSettingActivity"></activity>
        <activity android:name=".ui.client.mine.ResetPwdActivity" />
        <activity android:name=".ui.client.mine.UserInfoActivity" />
        <activity android:name=".ui.client.mine.SettingsActivity" />
        <activity android:name=".ui.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.ForgetPwdActivity" />
        <activity android:name=".ui.client.mine.AccountSafeActivity" />
        <activity android:name=".ui.client.mine.UpdatePwdActivity"></activity>
        <activity android:name=".ui.login.PhoneLostActivity"></activity>
        <activity android:name=".ui.login.ChangePhoneActivity"></activity>
        <activity android:name=".ui.login.QQFindActivity"></activity>
        <activity android:name=".ui.login.BlogFindActivity"></activity>
        <activity android:name=".ui.login.WechatFindActivity"></activity>
        <activity android:name=".ui.login.MileFindActivity"/>
        <activity android:name=".ui.login.ChangeConfirmActivity"></activity>
        <activity android:name=".ui.client.mine.HelpRebackActivity"></activity>
    </application>

</manifest>